{#
Copyright 2017 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set COMPUTE_URL_BASE = 'https://www.googleapis.com/compute/v1/' %}
{% set BASE_NAME = env['deployment'] %}

{% macro GlobalComputeUrl(project, collection, name) -%}
{{ COMPUTE_URL_BASE }}projects/{{ project }}/global/{{ collection }}/{{ name }}
{%- endmacro %}

{% macro ZonalComputeUrl(project, zone, collection, name) -%}
{{ COMPUTE_URL_BASE }}projects/{{ project }}/zones/{{ zone }}/{{ collection }}/{{ name }}
{%- endmacro %}

resources:
- name: {{ BASE_NAME }}-address
  type: compute.beta.address
  properties:
    status: RESERVED
    addressType: EXTERNAL
    region: {{ properties['region'] }}
- name: {{ BASE_NAME }}-vm
  type: compute.v1.instance
  properties:
    zone: {{ properties['zone'] }}
    machineType: {{ ZonalComputeUrl(env['project'], properties['zone'], 'machineTypes', 'n1-standard-1') }}
    serviceAccounts:
      - email: {{ env['project_number'] }}-compute@developer.gserviceaccount.com
        scopes:
        - https://www.googleapis.com/auth/cloud-platform
    metadata:
      items:
        - key: user-data
          value: |
            #cloud-config
            
            write_files:
            - path: /etc/systemd/system/broadsea-methods.service
              permissions: 0644
              owner: root
              content: |
                [Unit]
                Description=Start the broadsea methods docker container
            
                [Service]
                ExecStart=/usr/bin/docker run --rm -u 0 -p 8787:8787 -p 6111:6111 --name=broadsea-methodslibrary -v /etc/ohdsi-scripts/:/ohdsi-scripts gcr.io/ohdsi-in-a-box/broadsea-methods-bigquery
                ExecStop=/usr/bin/docker stop broadsea-methodslibrary
                ExecStopPost=/usr/bin/docker rm broadsea-methodslibrary
                Restart=on-failure
            
            - path: /etc/systemd/system/broadsea-webtools.service
              permissions: 0644
              owner: root
              content: |
                [Unit]
                Description=Start the broadsea webtools docker container
            
                [Service]
                ExecStart=/usr/bin/docker run --rm -u 0 -p 8080:8080 --name=broadsea-webtools \
                  -v /etc/ohdsi-scripts/:/ohdsi-scripts \
                  --env=WEBAPI_URL=http://localhost:8080 \
                  --env=ENV=webapi-postgresql \
                  --env=DATASOURCE_DRIVERCLASSNAME=org.postgresql.Driver \
                  --env=DATASOURCE_URL=jdbc:postgresql://$(ref.{{BASE_NAME}}-postgres-instance.ipAddresses[0].ipAddress):5432/postgres \
                  --env=DATASOURCE_CDM_SCHEMA=cdm \
                  --env=DATASOURCE_OHDSI_SCHEMA=ohdsi \
                  --env=DATASOURCE_USERNAME=ohdsi-postgres-user \
                  --env=DATASOURCE_PASSWORD=ohdsi-postgres-password \
                  --env=SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA=ohdsi \
                  --env=SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect \
                  --env=SPRING_BATCH_REPOSITORY_TABLEPREFIX=ohdsi.BATCH_ \
                  --env=FLYWAY_DATASOURCE_DRIVERCLASSNAME=org.postgresql.Driver \
                  --env=FLYWAY_DATASOURCE_URL=jdbc:postgresql://$(ref.{{ BASE_NAME }}-postgres-instance.ipAddresses[0].ipAddress):5432/postgres \
                  --env=FLYWAY_SCHEMAS=ohdsi \
                  --env=FLYWAY_PLACEHOLDERS_OHDSISCHEMA=ohdsi \
                  --env=FLYWAY_DATASOURCE_USERNAME=ohdsi-postgres-user \
                  --env=FLYWAY_DATASOURCE_PASSWORD=ohdsi-postgres-password \
                  --env=FLYWAY_LOCATIONS=classpath:db/migration/postgresql \
                  gcr.io/ohdsi-in-a-box/broadsea-webtools-bigquery
                ExecStop=/usr/bin/docker stop broadsea-webtools
                ExecStopPost=/usr/bin/docker rm broadsea-webtools
                Restart=on-failure

            - path: /etc/ohdsi-scripts/source_source_daimon.sql
              permissions: 0666
              owner: root
              content: |
                -- remove any previously added database connection configuration data
                truncate ohdsi.source;
                truncate ohdsi.source_daimon;
                
                -- OHDSI CDM source
                INSERT INTO ohdsi.source(source_id, source_name, source_key, source_connection, source_dialect)
                VALUES (1, 'OHDSI CDM V5 Database', 'OHDSI-CDMV5', 'jdbc:BQDriver:{{ env['project'] }}', 'bigquery');
                
                -- CDM daimon
                INSERT INTO ohdsi.source_daimon( source_daimon_id, source_id, daimon_type, table_qualifier, priority) VALUES (1, 1, 0, '{{ properties['cdmDataset'] }}', 2);
                
                -- VOCABULARY daimon
                INSERT INTO ohdsi.source_daimon( source_daimon_id, source_id, daimon_type, table_qualifier, priority) VALUES (2, 1, 1, '{{ properties['cdmDataset'] }}', 2);
                
                -- RESULTS daimon
                INSERT INTO ohdsi.source_daimon( source_daimon_id, source_id, daimon_type, table_qualifier, priority) VALUES (3, 1, 2, '{{ properties['ohdsiDataset']}}', 2);
                
                -- EVIDENCE daimon
                INSERT INTO ohdsi.source_daimon( source_daimon_id, source_id, daimon_type, table_qualifier, priority) VALUES (4, 1, 3, '{{ properties['ohdsiDataset'] }}', 2);

            - path: /etc/ohdsi-scripts/runAchilles.R
              permissions: 0666
              owner: root
              content: |
                install.packages("devtools")
                library(devtools)
                install_local(path="/ohdsi-deployment/DatabaseConnector")
                install_local(path="/ohdsi-deployment/SqlRender")
                install_local(path="/ohdsi-deployment/Achilles")
                library(Achilles)
                connectionDetails = createConnectionDetails(dbms="bigquery", server="{{ env['project'] }}", pathToDriver = "/tmp/drivers", user="", password="")
                achilles(connectionDetails, cdmDatabaseSchema="{{ properties['cdmDataset'] }}", resultsDatabaseSchema="{{ properties['ohdsiDataset'] }}", sourceName="OHDSI CDM V5 Database", cdmVersion = "5", vocabDatabaseSchema = "{{ properties['cdmDataset'] }}", runHeel=TRUE)

            - path: /etc/ohdsi-scripts/update_source.py
              permissions: 0555
              owner: root
              content: |
                #!/usr/bin/python
                import subprocess
                import time
                
                def getContainerId():
                  return subprocess.Popen(['docker', 'ps', '-aqf' 'name=broadsea-webtools'], stdout=subprocess.PIPE).communicate()[0].strip()
                
                def runQuery(query):
                  CMD=['docker', 'exec', getContainerId(), '/usr/bin/psql',
                       'host=$(ref.{{ BASE_NAME }}-postgres-instance.ipAddresses[0].ipAddress) dbname=postgres user=ohdsi-postgres-user password=ohdsi-postgres-password',
                       '-A', '-t'] + query
                  return subprocess.Popen(CMD, stdout=subprocess.PIPE).communicate()[0]
                
                def runCommand(cmd):
                  return subprocess.Popen(cmd, stdout=subprocess.PIPE).communicate()[0]
                
                # Wait for table to be created
                while True:
                  table_count = runQuery(['-c', 'SELECT COUNT(*) FROM information_schema.tables WHERE table_schema=\'ohdsi\' AND table_name=\'source\';'])
                  if len(table_count.strip()) > 0 and int(table_count) > 0: break
                  print "Did not find ohdsi.source table. Sleeping for 10 seconds"
                  time.sleep(10)
                print "Found ohdsi.source table"
                
                # Populate the table if it's empty
                while True:
                  source_count = runQuery(['-c', 'SELECT COUNT(*) FROM ohdsi.source'])
                  print "Found %d rows in ohdsi.source" % int(source_count)
                  if int(source_count) == 0:
                    container_id  = getContainerId()
                    print runQuery(['-f', '/ohdsi-scripts/source_source_daimon.sql'])
                    runCommand(['docker', 'restart', container_id])
                  print "Sleeping for 10 minutes"
                  time.sleep(600)

            - path: /etc/systemd/system/broadsea-update-source.service
              permissions: 0644
              owner: root
              content: |
                [Unit]
                Description=Update the source in the postgres database
            
                [Service]
                ExecStart=/etc/ohdsi-scripts/update_source.py
                Restart=on-failure

            - path: /etc/ohdsi-scripts/tail_weblog.sh
              permissions: 0555
              owner: root
              content: |
                #!/bin/bash
                # Utility to view the tail of the webtools log
                export WEBTOOLS_ID=`docker ps -aqf "name=broadsea-webtools"`
                export ERRLOG=`docker exec $WEBTOOLS_ID /usr/bin/find /var/log/supervisor | grep stderr`
                docker exec -i -t $WEBTOOLS_ID tail -f $ERRLOG

            runcmd:
            - systemctl daemon-reload
            - systemctl start broadsea-methods.service
            - systemctl start broadsea-webtools.service
            - systemctl start broadsea-update-source.service

    disks:
      - deviceName: boot
        type: PERSISTENT
        autoDelete: true
        boot: true
        initializeParams:
          diskName: {{ BASE_NAME }}-disk
          sourceImage: {{ GlobalComputeUrl('cos-cloud', 'images', 'cos-stable-61-9765-79-0') }}
    networkInterfaces:
      - accessConfigs:
          - name: external-nat
            type: ONE_TO_ONE_NAT
            natIP: $(ref.{{ BASE_NAME }}-address.address)
        network: {{ GlobalComputeUrl(env['project'],  'networks', 'default') }}
- name: {{BASE_NAME}}-postgres-instance
  type: sqladmin.v1beta4.instance
  properties:
    name: {{BASE_NAME}}-postgres-{{ properties['postgresInstanceSuffix'] }} 
    databaseVersion: POSTGRES_9_6
    gceZone: {{ properties['zone'] }}
    settings:
      tier: db-custom-1-3840
      ipConfiguration:
        authorizedNetworks:
        - name: broadsea-vm
          value: $(ref.{{ BASE_NAME }}-address.address)
- name: tempDatasetResource
  type: bigquery.v2.dataset
  properties:
    datasetReference:
      datasetId: {{ properties['tempDataset'] }}
    defaultTableExpirationMs: 86400000
- name: cdmDatasetResource
  type: bigquery.v2.dataset
  properties:
    datasetReference:
      datasetId: {{ properties['cdmDataset'] }}
- name: ohdsiDatasetResource
  type: bigquery.v2.dataset
  properties:
    datasetReference:
      datasetId: {{ properties['ohdsiDataset'] }}
{# Generated bigquery schema below here #}
- name: cdmDataset_concept
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: concept
    schema:
      fields:
      - name: concept_id
        type: integer
      - name: concept_name
        type: string
      - name: domain_id
        type: string
      - name: vocabulary_id
        type: string
      - name: concept_class_id
        type: string
      - name: standard_concept
        type: string
      - name: concept_code
        type: string
      - name: valid_start_date
        type: date
      - name: valid_end_date
        type: date
      - name: invalid_reason
        type: string
- name: cdmDataset_vocabulary
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: vocabulary
    schema:
      fields:
      - name: vocabulary_id
        type: string
      - name: vocabulary_name
        type: string
      - name: vocabulary_reference
        type: string
      - name: vocabulary_version
        type: string
      - name: vocabulary_concept_id
        type: integer
- name: cdmDataset_domain
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: domain
    schema:
      fields:
      - name: domain_id
        type: string
      - name: domain_name
        type: string
      - name: domain_concept_id
        type: integer
- name: cdmDataset_concept_class
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: concept_class
    schema:
      fields:
      - name: concept_class_id
        type: string
      - name: concept_class_name
        type: string
      - name: concept_class_concept_id
        type: integer
- name: cdmDataset_concept_relationship
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: concept_relationship
    schema:
      fields:
      - name: concept_id_1
        type: integer
      - name: concept_id_2
        type: integer
      - name: relationship_id
        type: string
      - name: valid_start_date
        type: date
      - name: valid_end_date
        type: date
      - name: invalid_reason
        type: string
- name: cdmDataset_relationship
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: relationship
    schema:
      fields:
      - name: relationship_id
        type: string
      - name: relationship_name
        type: string
      - name: is_hierarchical
        type: string
      - name: defines_ancestry
        type: string
      - name: reverse_relationship_id
        type: string
      - name: relationship_concept_id
        type: integer
- name: cdmDataset_concept_synonym
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: concept_synonym
    schema:
      fields:
      - name: concept_id
        type: integer
      - name: concept_synonym_name
        type: string
      - name: language_concept_id
        type: integer
- name: cdmDataset_concept_ancestor
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: concept_ancestor
    schema:
      fields:
      - name: ancestor_concept_id
        type: integer
      - name: descendant_concept_id
        type: integer
      - name: min_levels_of_separation
        type: integer
      - name: max_levels_of_separation
        type: integer
- name: cdmDataset_source_to_concept_map
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: source_to_concept_map
    schema:
      fields:
      - name: source_code
        type: string
      - name: source_concept_id
        type: integer
      - name: source_vocabulary_id
        type: string
      - name: source_code_description
        type: string
      - name: target_concept_id
        type: integer
      - name: target_vocabulary_id
        type: string
      - name: valid_start_date
        type: date
      - name: valid_end_date
        type: date
      - name: invalid_reason
        type: string
- name: cdmDataset_drug_strength
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: drug_strength
    schema:
      fields:
      - name: drug_concept_id
        type: integer
      - name: ingredient_concept_id
        type: integer
      - name: amount_value
        type: float
      - name: amount_unit_concept_id
        type: integer
      - name: numerator_value
        type: float
      - name: numerator_unit_concept_id
        type: integer
      - name: denominator_value
        type: float
      - name: denominator_unit_concept_id
        type: integer
      - name: box_size
        type: integer
      - name: valid_start_date
        type: date
      - name: valid_end_date
        type: date
      - name: invalid_reason
        type: string
- name: cdmDataset_cohort_definition
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: cohort_definition
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: cohort_definition_name
        type: string
      - name: cohort_definition_description
        type: string
      - name: definition_type_concept_id
        type: integer
      - name: cohort_definition_syntax
        type: string
      - name: subject_concept_id
        type: integer
      - name: cohort_initiation_date
        type: date
- name: cdmDataset_attribute_definition
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: attribute_definition
    schema:
      fields:
      - name: attribute_definition_id
        type: integer
      - name: attribute_name
        type: string
      - name: attribute_description
        type: string
      - name: attribute_type_concept_id
        type: integer
      - name: attribute_syntax
        type: string
- name: cdmDataset_cdm_source
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: cdm_source
    schema:
      fields:
      - name: cdm_source_name
        type: string
      - name: cdm_source_abbreviation
        type: string
      - name: cdm_holder
        type: string
      - name: source_description
        type: string
      - name: source_documentation_reference
        type: string
      - name: cdm_etl_reference
        type: string
      - name: source_release_date
        type: date
      - name: cdm_release_date
        type: date
      - name: cdm_version
        type: string
      - name: vocabulary_version
        type: string
- name: cdmDataset_person
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: person
    schema:
      fields:
      - name: person_id
        type: integer
      - name: gender_concept_id
        type: integer
      - name: year_of_birth
        type: integer
      - name: month_of_birth
        type: integer
      - name: day_of_birth
        type: integer
      - name: birth_datetime
        type: timestamp
      - name: race_concept_id
        type: integer
      - name: ethnicity_concept_id
        type: integer
      - name: location_id
        type: integer
      - name: provider_id
        type: integer
      - name: care_site_id
        type: integer
      - name: person_source_value
        type: string
      - name: gender_source_value
        type: string
      - name: gender_source_concept_id
        type: integer
      - name: race_source_value
        type: string
      - name: race_source_concept_id
        type: integer
      - name: ethnicity_source_value
        type: string
      - name: ethnicity_source_concept_id
        type: integer
- name: cdmDataset_observation_period
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: observation_period
    schema:
      fields:
      - name: observation_period_id
        type: integer
      - name: person_id
        type: integer
      - name: observation_period_start_date
        type: date
      - name: observation_period_start_datetime
        type: timestamp
      - name: observation_period_end_date
        type: date
      - name: observation_period_end_datetime
        type: timestamp
      - name: period_type_concept_id
        type: integer
- name: cdmDataset_specimen
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: specimen
    schema:
      fields:
      - name: specimen_id
        type: integer
      - name: person_id
        type: integer
      - name: specimen_concept_id
        type: integer
      - name: specimen_type_concept_id
        type: integer
      - name: specimen_date
        type: date
      - name: specimen_datetime
        type: timestamp
      - name: quantity
        type: float
      - name: unit_concept_id
        type: integer
      - name: anatomic_site_concept_id
        type: integer
      - name: disease_status_concept_id
        type: integer
      - name: specimen_source_id
        type: string
      - name: specimen_source_value
        type: string
      - name: unit_source_value
        type: string
      - name: anatomic_site_source_value
        type: string
      - name: disease_status_source_value
        type: string
- name: cdmDataset_death
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: death
    schema:
      fields:
      - name: person_id
        type: integer
      - name: death_date
        type: date
      - name: death_datetime
        type: timestamp
      - name: death_type_concept_id
        type: integer
      - name: cause_concept_id
        type: integer
      - name: cause_source_value
        type: string
      - name: cause_source_concept_id
        type: integer
- name: cdmDataset_visit_occurrence
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: visit_occurrence
    schema:
      fields:
      - name: visit_occurrence_id
        type: integer
      - name: person_id
        type: integer
      - name: visit_concept_id
        type: integer
      - name: visit_start_date
        type: date
      - name: visit_start_datetime
        type: timestamp
      - name: visit_end_date
        type: date
      - name: visit_end_datetime
        type: timestamp
      - name: visit_type_concept_id
        type: integer
      - name: provider_id
        type: integer
      - name: care_site_id
        type: integer
      - name: visit_source_value
        type: string
      - name: visit_source_concept_id
        type: integer
      - name: admitting_source_concept_id
        type: integer
      - name: admitting_source_value
        type: string
      - name: discharge_to_concept_id
        type: integer
      - name: discharge_to_source_value
        type: string
      - name: preceding_visit_occurrence_id
        type: integer
- name: cdmDataset_procedure_occurrence
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: procedure_occurrence
    schema:
      fields:
      - name: procedure_occurrence_id
        type: integer
      - name: person_id
        type: integer
      - name: procedure_concept_id
        type: integer
      - name: procedure_date
        type: date
      - name: procedure_datetime
        type: timestamp
      - name: procedure_type_concept_id
        type: integer
      - name: modifier_concept_id
        type: integer
      - name: quantity
        type: integer
      - name: provider_id
        type: integer
      - name: visit_occurrence_id
        type: integer
      - name: procedure_source_value
        type: string
      - name: procedure_source_concept_id
        type: integer
      - name: qualifier_source_value
        type: string
- name: cdmDataset_drug_exposure
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: drug_exposure
    schema:
      fields:
      - name: drug_exposure_id
        type: integer
      - name: person_id
        type: integer
      - name: drug_concept_id
        type: integer
      - name: drug_exposure_start_date
        type: date
      - name: drug_exposure_start_datetime
        type: timestamp
      - name: drug_exposure_end_date
        type: date
      - name: drug_exposure_end_datetime
        type: timestamp
      - name: verbatim_end_date
        type: date
      - name: drug_type_concept_id
        type: integer
      - name: stop_reason
        type: string
      - name: refills
        type: integer
      - name: quantity
        type: float
      - name: days_supply
        type: integer
      - name: sig
        type: string
      - name: route_concept_id
        type: integer
      - name: lot_number
        type: string
      - name: provider_id
        type: integer
      - name: visit_occurrence_id
        type: integer
      - name: drug_source_value
        type: string
      - name: drug_source_concept_id
        type: integer
      - name: route_source_value
        type: string
      - name: dose_unit_source_value
        type: string
- name: cdmDataset_device_exposure
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: device_exposure
    schema:
      fields:
      - name: device_exposure_id
        type: integer
      - name: person_id
        type: integer
      - name: device_concept_id
        type: integer
      - name: device_exposure_start_date
        type: date
      - name: device_exposure_start_datetime
        type: timestamp
      - name: device_exposure_end_date
        type: date
      - name: device_exposure_end_datetime
        type: timestamp
      - name: device_type_concept_id
        type: integer
      - name: unique_device_id
        type: string
      - name: quantity
        type: integer
      - name: provider_id
        type: integer
      - name: visit_occurrence_id
        type: integer
      - name: device_source_value
        type: string
      - name: device_source_concept_id
        type: integer
- name: cdmDataset_condition_occurrence
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: condition_occurrence
    schema:
      fields:
      - name: condition_occurrence_id
        type: integer
      - name: person_id
        type: integer
      - name: condition_concept_id
        type: integer
      - name: condition_start_date
        type: date
      - name: condition_start_datetime
        type: timestamp
      - name: condition_end_date
        type: date
      - name: condition_end_datetime
        type: timestamp
      - name: condition_type_concept_id
        type: integer
      - name: stop_reason
        type: string
      - name: provider_id
        type: integer
      - name: visit_occurrence_id
        type: integer
      - name: condition_source_value
        type: string
      - name: condition_source_concept_id
        type: integer
      - name: condition_status_source_value
        type: string
      - name: condition_status_concept_id
        type: integer
- name: cdmDataset_measurement
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: measurement
    schema:
      fields:
      - name: measurement_id
        type: integer
      - name: person_id
        type: integer
      - name: measurement_concept_id
        type: integer
      - name: measurement_date
        type: date
      - name: measurement_datetime
        type: timestamp
      - name: measurement_type_concept_id
        type: integer
      - name: operator_concept_id
        type: integer
      - name: value_as_number
        type: float
      - name: value_as_concept_id
        type: integer
      - name: unit_concept_id
        type: integer
      - name: range_low
        type: float
      - name: range_high
        type: float
      - name: provider_id
        type: integer
      - name: visit_occurrence_id
        type: integer
      - name: measurement_source_value
        type: string
      - name: measurement_source_concept_id
        type: integer
      - name: unit_source_value
        type: string
      - name: value_source_value
        type: string
- name: cdmDataset_note
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: note
    schema:
      fields:
      - name: note_id
        type: integer
      - name: person_id
        type: integer
      - name: note_date
        type: date
      - name: note_datetime
        type: timestamp
      - name: note_type_concept_id
        type: integer
      - name: note_class_concept_id
        type: integer
      - name: note_title
        type: string
      - name: note_text
        type: string
      - name: encoding_concept_id
        type: integer
      - name: language_concept_id
        type: integer
      - name: provider_id
        type: integer
      - name: visit_occurrence_id
        type: integer
      - name: note_source_value
        type: string
- name: cdmDataset_note_nlp
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: note_nlp
    schema:
      fields:
      - name: note_nlp_id
        type: integer
      - name: note_id
        type: integer
      - name: section_concept_id
        type: integer
      - name: snippet
        type: string
      - name: "offset"
        type: string
      - name: lexical_variant
        type: string
      - name: note_nlp_concept_id
        type: integer
      - name: note_nlp_source_concept_id
        type: integer
      - name: nlp_system
        type: string
      - name: nlp_date
        type: date
      - name: nlp_datetime
        type: timestamp
      - name: term_exists
        type: string
      - name: term_temporal
        type: string
      - name: term_modifiers
        type: string
- name: cdmDataset_observation
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: observation
    schema:
      fields:
      - name: observation_id
        type: integer
      - name: person_id
        type: integer
      - name: observation_concept_id
        type: integer
      - name: observation_date
        type: date
      - name: observation_datetime
        type: timestamp
      - name: observation_type_concept_id
        type: integer
      - name: value_as_number
        type: float
      - name: value_as_string
        type: string
      - name: value_as_concept_id
        type: integer
      - name: qualifier_concept_id
        type: integer
      - name: unit_concept_id
        type: integer
      - name: provider_id
        type: integer
      - name: visit_occurrence_id
        type: integer
      - name: observation_source_value
        type: string
      - name: observation_source_concept_id
        type: integer
      - name: unit_source_value
        type: string
      - name: qualifier_source_value
        type: string
- name: cdmDataset_fact_relationship
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: fact_relationship
    schema:
      fields:
      - name: domain_concept_id_1
        type: integer
      - name: fact_id_1
        type: integer
      - name: domain_concept_id_2
        type: integer
      - name: fact_id_2
        type: integer
      - name: relationship_concept_id
        type: integer
- name: cdmDataset_location
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: location
    schema:
      fields:
      - name: location_id
        type: integer
      - name: address_1
        type: string
      - name: address_2
        type: string
      - name: city
        type: string
      - name: state
        type: string
      - name: zip
        type: string
      - name: county
        type: string
      - name: location_source_value
        type: string
- name: cdmDataset_care_site
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: care_site
    schema:
      fields:
      - name: care_site_id
        type: integer
      - name: care_site_name
        type: string
      - name: place_of_service_concept_id
        type: integer
      - name: location_id
        type: integer
      - name: care_site_source_value
        type: string
      - name: place_of_service_source_value
        type: string
- name: cdmDataset_provider
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: provider
    schema:
      fields:
      - name: provider_id
        type: integer
      - name: provider_name
        type: string
      - name: NPI
        type: string
      - name: DEA
        type: string
      - name: specialty_concept_id
        type: integer
      - name: care_site_id
        type: integer
      - name: year_of_birth
        type: integer
      - name: gender_concept_id
        type: integer
      - name: provider_source_value
        type: string
      - name: specialty_source_value
        type: string
      - name: specialty_source_concept_id
        type: integer
      - name: gender_source_value
        type: string
      - name: gender_source_concept_id
        type: integer
- name: cdmDataset_payer_plan_period
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: payer_plan_period
    schema:
      fields:
      - name: payer_plan_period_id
        type: integer
      - name: person_id
        type: integer
      - name: payer_plan_period_start_date
        type: date
      - name: payer_plan_period_end_date
        type: date
      - name: payer_source_value
        type: string
      - name: plan_source_value
        type: string
      - name: family_source_value
        type: string
- name: cdmDataset_cost
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: cost
    schema:
      fields:
      - name: cost_id
        type: integer
      - name: cost_event_id
        type: integer
      - name: cost_domain_id
        type: string
      - name: cost_type_concept_id
        type: integer
      - name: currency_concept_id
        type: integer
      - name: total_charge
        type: float
      - name: total_cost
        type: float
      - name: total_paid
        type: float
      - name: paid_by_payer
        type: float
      - name: paid_by_patient
        type: float
      - name: paid_patient_copay
        type: float
      - name: paid_patient_coinsurance
        type: float
      - name: paid_patient_deductible
        type: float
      - name: paid_by_primary
        type: float
      - name: paid_ingredient_cost
        type: float
      - name: paid_dispensing_fee
        type: float
      - name: payer_plan_period_id
        type: integer
      - name: amount_allowed
        type: float
      - name: revenue_code_concept_id
        type: integer
      - name: reveue_code_source_value
        type: string
      - name: drg_concept_id
        type: integer
      - name: drg_source_value
        type: string
- name: cdmDataset_cohort
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: cohort
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: subject_id
        type: integer
      - name: cohort_start_date
        type: date
      - name: cohort_end_date
        type: date
- name: cdmDataset_cohort_attribute
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: cohort_attribute
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: cohort_start_date
        type: date
      - name: cohort_end_date
        type: date
      - name: subject_id
        type: integer
      - name: attribute_definition_id
        type: integer
      - name: value_as_number
        type: float
      - name: value_as_concept_id
        type: integer
- name: cdmDataset_drug_era
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: drug_era
    schema:
      fields:
      - name: drug_era_id
        type: integer
      - name: person_id
        type: integer
      - name: drug_concept_id
        type: integer
      - name: drug_era_start_date
        type: date
      - name: drug_era_end_date
        type: date
      - name: drug_exposure_count
        type: integer
      - name: gap_days
        type: integer
- name: cdmDataset_dose_era
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: dose_era
    schema:
      fields:
      - name: dose_era_id
        type: integer
      - name: person_id
        type: integer
      - name: drug_concept_id
        type: integer
      - name: unit_concept_id
        type: integer
      - name: dose_value
        type: float
      - name: dose_era_start_date
        type: date
      - name: dose_era_end_date
        type: date
- name: cdmDataset_condition_era
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - cdmDatasetResource
  properties:
    datasetId: {{ properties['cdmDataset'] }}
    tableReference:
      tableId: condition_era
    schema:
      fields:
      - name: condition_era_id
        type: integer
      - name: person_id
        type: integer
      - name: condition_concept_id
        type: integer
      - name: condition_era_start_date
        type: date
      - name: condition_era_end_date
        type: date
      - name: condition_occurrence_count
        type: integer
- name: ohdsiDataset_cohort
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: cohort
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: subject_id
        type: integer
      - name: cohort_start_date
        type: date
      - name: cohort_end_date
        type: date
- name: ohdsiDataset_cohort_inclusion
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: cohort_inclusion
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: rule_sequence
        type: integer
      - name: name
        type: string
      - name: description
        type: string
- name: ohdsiDataset_cohort_inclusion_result
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: cohort_inclusion_result
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: inclusion_rule_mask
        type: integer
      - name: person_count
        type: integer
- name: ohdsiDataset_cohort_inclusion_stats
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: cohort_inclusion_stats
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: rule_sequence
        type: integer
      - name: person_count
        type: integer
      - name: gain_count
        type: integer
      - name: person_total
        type: integer
- name: ohdsiDataset_cohort_summary_stats
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: cohort_summary_stats
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: base_count
        type: integer
      - name: final_count
        type: integer
- name: ohdsiDataset_feas_study_inclusion_stats
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: feas_study_inclusion_stats
    schema:
      fields:
      - name: study_id
        type: integer
      - name: rule_sequence
        type: integer
      - name: name
        type: string
      - name: person_count
        type: integer
      - name: gain_count
        type: integer
      - name: person_total
        type: integer
- name: ohdsiDataset_feas_study_index_stats
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: feas_study_index_stats
    schema:
      fields:
      - name: study_id
        type: integer
      - name: person_count
        type: integer
      - name: match_count
        type: integer
- name: ohdsiDataset_feas_study_result
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: feas_study_result
    schema:
      fields:
      - name: study_id
        type: integer
      - name: inclusion_rule_mask
        type: integer
      - name: person_count
        type: integer
- name: ohdsiDataset_heracles_analysis
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: heracles_analysis
    schema:
      fields:
      - name: analysis_id
        type: integer
      - name: analysis_name
        type: string
      - name: stratum_1_name
        type: string
      - name: stratum_2_name
        type: string
      - name: stratum_3_name
        type: string
      - name: stratum_4_name
        type: string
      - name: stratum_5_name
        type: string
      - name: analysis_type
        type: string
- name: ohdsiDataset_heracles_heel_results
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: heracles_heel_results
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: analysis_id
        type: integer
      - name: heracles_heel_warning
        type: string
- name: ohdsiDataset_heracles_results
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: heracles_results
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: analysis_id
        type: integer
      - name: stratum_1
        type: string
      - name: stratum_2
        type: string
      - name: stratum_3
        type: string
      - name: stratum_4
        type: string
      - name: stratum_5
        type: string
      - name: count_value
        type: integer
      - name: last_update_time
        type: timestamp
- name: ohdsiDataset_heracles_results_dist
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: heracles_results_dist
    schema:
      fields:
      - name: cohort_definition_id
        type: integer
      - name: analysis_id
        type: integer
      - name: stratum_1
        type: string
      - name: stratum_2
        type: string
      - name: stratum_3
        type: string
      - name: stratum_4
        type: string
      - name: stratum_5
        type: string
      - name: count_value
        type: integer
      - name: min_value
        type: float
      - name: max_value
        type: float
      - name: avg_value
        type: float
      - name: stdev_value
        type: float
      - name: median_value
        type: float
      - name: p10_value
        type: float
      - name: p25_value
        type: float
      - name: p75_value
        type: float
      - name: p90_value
        type: float
      - name: last_update_time
        type: timestamp
- name: ohdsiDataset_ir_analysis_dist
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: ir_analysis_dist
    schema:
      fields:
      - name: analysis_id
        type: integer
      - name: target_id
        type: integer
      - name: outcome_id
        type: integer
      - name: strata_sequence
        type: integer
      - name: dist_type
        type: integer
      - name: total
        type: integer
      - name: avg_value
        type: float
      - name: std_dev
        type: float
      - name: min_value
        type: integer
      - name: p10_value
        type: integer
      - name: p25_value
        type: integer
      - name: median_value
        type: integer
      - name: p75_value
        type: integer
      - name: p90_value
        type: integer
      - name: max_value
        type: integer
- name: ohdsiDataset_ir_analysis_result
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: ir_analysis_result
    schema:
      fields:
      - name: analysis_id
        type: integer
      - name: target_id
        type: integer
      - name: outcome_id
        type: integer
      - name: strata_mask
        type: integer
      - name: person_count
        type: integer
      - name: time_at_risk
        type: integer
      - name: cases
        type: integer
- name: ohdsiDataset_ir_analysis_strata_stats
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: ir_analysis_strata_stats
    schema:
      fields:
      - name: analysis_id
        type: integer
      - name: target_id
        type: integer
      - name: outcome_id
        type: integer
      - name: strata_sequence
        type: integer
      - name: person_count
        type: integer
      - name: time_at_risk
        type: integer
      - name: cases
        type: integer
- name: ohdsiDataset_ir_strata
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - ohdsiDatasetResource
  properties:
    datasetId: {{ properties['ohdsiDataset'] }}
    tableReference:
      tableId: ir_strata
    schema:
      fields:
      - name: analysis_id
        type: integer
      - name: strata_sequence
        type: integer
      - name: name
        type: string
      - name: description
        type: string
